h1{
    background: rgb(60,140,190);
	color:white;
	text-align:center;
	font-family: 'Roboto', sans-serif;
	text-transform:uppercase;
	margin:0;


}
button{
	font-family:'Roboto', sans-serif;
	letter-spacing: 1px;
	border:none;
	height:100%;
	font-size:40px;
	transition:all 0.5s;
}

span{
	display: inline-block;
	width:20%;
	font-family: 'Roboto', sans-serif;
	font-size:40px;

}
body{
	background: rgb(40, 40, 40);
}
.text{
	margin:0 5px 0 120px;
}
.container2{
	background:white;
	text-align: center;
	height:60px;
}

.container1{
	width:40%;
	margin:20px auto;
}

.square{
	width:30%;
	margin:1.66%;
	padding-bottom: 30%;
	float:left;
	border-radius: 20%;
	transition:background 0.8s;

}
.btn1{
	background:green;
	color:white;
}
.btn2{
	color:black;
	background:#ffc107;
}
.btn3{
	color:white;
	background:#dc3545;
}


#rgb{
	font-size:55px;
	text-transform: uppercase;
	
}

	
	